[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipython = "*"

[packages]
aaew-etl-9999 = {git = "git@github.com/jkatzwinkel/tla-datentransformation.git", ref = "api"}
aaew-couch-9999 = {git = "https://github.com/jkatzwinkel/aaew-couch.git", ref = "master"}
docopt = "*"

[requires]
python_version = "3.8"
